.header {
    height: 75px;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    background-color: palegoldenrod;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.header a img {
    position: absolute;
    top: 20 px;
    left: 9px;
    height: 75px;
}

.header h2 {
  text-transform: uppercase;
}

.names {
  text-transform: uppercase;
}

body {
        background-color: #6CB4EE;
        
}

.header p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:  palegoldenrod;
    
  }
  
  /* Add a color to the active/current link */
  .topnav a .active {
    background-color: #333;
    color: white;
  }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: small;
    text-align: center;
  }

  .topnav a {
    float: left;
    display: block;
    text-align: left;
  }

  .usecase {
    display: block;
    height: 300px;
    width: 300px
  }
}
